@charset "UTF-8";
.cabecera_div {
  display: flex;
  justify-content: center;
  background-color: #0000008c; }
  .cabecera_div .header_nav {
    display: flex; }
  .cabecera_div .header__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; }
  .cabecera_div .header__item {
    background-color: #b49bb5;
    padding: 1rem;
    margin: 1rem;
    display: inline-flex;
    border: 2px solid black;
    align-items: center;
    height: 6px; }
  .cabecera_div .header_nav_galeria {
    display: flex;
    margin-top: 15px; }
  .cabecera_div .header__item_galeria {
    height: 40px; }
  .cabecera_div li {
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin-top: 3px; }
  .cabecera_div a {
    text-decoration: none;
    color: black; }
  .cabecera_div h2 {
    text-align: center;
    margin-top: 50px; }

.logo_box {
  text-align: center;
  width: 700px;
  height: 250px;
  margin-left: auto;
  margin-right: auto; }
  .logo_box .logo_img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid 1px black;
    margin-top: 25px;
    display: inline-block;
    background-image: url("../../img/logo2.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white; }
  .logo_box h2 {
    font-size: 35px;
    margin-top: 0px; }
  .logo_box h4 {
    margin-top: 180px; }

#imagenes {
  width: 1050px;
  height: 250px;
  border: 1px solid green;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 40px; }
  #imagenes .box_img {
    width: 200px;
    height: 200px;
    float: left;
    padding: 5px; }

#informacion {
  font-size: 20px;
  margin-top: 45px; }

.footer {
  margin-top: 20px;
  text-align: center;
  text-decoration: dashed;
  margin-right: 88px; }
  .footer .icon {
    margin-left: 65px;
    float: right; }

.formulario {
  text-align: center;
  margin-top: 5%;
  border: solid 1px black;
  background-color: #bb83f0;
  width: 612px;
  margin-left: auto;
  margin-right: auto; }
  .formulario .formulario_letra {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; }
  .formulario textarea {
    resize: none;
    height: 130px;
    width: 300px;
    margin-left: auto;
    margin-right: auto; }
  .formulario input {
    width: 230px;
    margin-left: auto;
    margin-right: auto; }

.padre_caja {
  background-color: #191a1a;
  height: 150px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-around; }
  .padre_caja .caja {
    background-color: #c1c5d7;
    height: 130px;
    width: 900px;
    margin-top: 10px; }
  .padre_caja .caja_img {
    height: 130px;
    width: 130px;
    background-color: red;
    margin-top: 10px;
    margin-right: 70px; }
  .padre_caja p {
    font-size: 20px;
    padding: 15px; }

.centrar_carrusel {
  object-fit: cover;
  object-position: center;
  height: 40vh;
  margin-left: auto;
  margin-right: auto; }

.contenedor_title_img {
  display: flex;
  justify-content: center;
  margin-top: 20px; }
  .contenedor_title_img .tamaño_letra {
    font-size: 25px; }
  .contenedor_title_img .name_img {
    width: 310px;
    height: 44px;
    background-color: #2fa7a7;
    border: solid 1px black;
    text-align: center; }

.b_s_1px {
  border: solid 1px black;
  margin-top: 10px;
  background-color: black; }

body {
  background-color: #d8e5ff; }

@media screen and (max-width: 768px) {
  .header__item {
    background-color: #403abd;
    padding: 5px;
    margin: 1px;
    display: inline-flex;
    border: 2px solid black;
    justify-content: center; } }

@media screen and (max-width: 768px) {
  #imagenes {
    width: 690px; } }

@media screen and (max-width: 320px) {
  .logo_box {
    width: 768px; } }

@media screen and (max-width: 320px) {
  .cabecera_div {
    display: flex;
    justify-content: center; }
    .cabecera_div .header_nav {
      text-align: center; }
    .cabecera_div .header__list {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: -40px; }
    .cabecera_div .header__item {
      background-color: #403abd;
      margin: 5px;
      border: 2px solid black;
      height: 5px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .cabecera_div .header__item_galeria {
      background-color: #403abd;
      margin: 5px;
      border: 2px solid black;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px; } }

@media screen and (max-width: 320px) {
  #imagenes {
    width: auto;
    margin-top: 40px;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .colum_index {
    display: flex;
    flex-direction: column; }
  .box_img {
    display: block;
    margin: auto; }
  .parrafo_title {
    margin-top: 10px; }
  .title_fondo_img {
    margin-top: 25px; } }

@media screen and (max-width: 320px) {
  .formulario {
    width: auto; } }

@media screen and (max-width: 320px) {
  .logo_box {
    width: 300px; } }

@media screen and (max-width: 320px) {
  .padre_caja {
    display: flex;
    flex-direction: column;
    height: 500px; }
    .padre_caja .caja {
      width: 304px;
      height: auto; }
    .padre_caja .caja_img {
      margin-left: 77px; } }

@media screen and (max-width: 320px) {
  .footer .icon {
    margin-left: 30px;
    float: right; } }
