@charset "UTF-8";
.header {
  background-color: #91cccc;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .header .navv {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto; }
  .header .nav-menu {
    display: flex;
    margin-right: 40px; }
  .header .nav-menu-link {
    line-height: 80px;
    padding: 8px 12px;
    border-radius: 3px; }
  .header .nav-menu-item {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 0 10px;
    list-style: none; }
  .header .nav-menu-link:hover {
    background-color: #cc75c5;
    transition: 0.5s; }
  .header .navv-link {
    color: black;
    text-decoration: none; }
  .header .logo {
    padding: 0 40px;
    line-height: 80px; }
  .header .nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none; }
  .header .logo-img {
    width: 80px;
    border: solid black 1px; }

.logo_box {
  text-align: center;
  width: 700px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 76px; }
  .logo_box .logo_img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid 1px black;
    margin-top: 25px;
    display: inline-block;
    background-image: url("../img/logo2.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white; }
  .logo_box h2 {
    font-size: 35px;
    margin-top: 0px; }
  .logo_box h4 {
    margin-top: 162px; }

#imagenes {
  width: 1050px;
  height: 250px;
  border: 1px solid green;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 40px; }
  #imagenes .box_img {
    width: 200px;
    height: 200px;
    float: left;
    padding: 5px; }
  #imagenes p {
    font-size: 20px; }

#informacion {
  font-size: 20px;
  margin-top: 45px; }

.footer {
  margin-top: 20px;
  text-align: center;
  text-decoration: dashed;
  margin-right: 88px; }
  .footer .icon {
    margin-left: 65px;
    float: right; }

.formulario {
  text-align: center;
  margin-top: 7%;
  border: solid 1px black;
  background-color: #bb83f0;
  width: 612px;
  margin-left: auto;
  margin-right: auto; }
  .formulario .formulario_letra {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; }
  .formulario textarea {
    resize: none;
    height: 130px;
    width: 300px;
    margin-left: auto;
    margin-right: auto; }
  .formulario input {
    width: 230px;
    margin-left: auto;
    margin-right: auto; }

.padre_caja {
  background-color: #191a1a;
  height: 150px;
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-around; }
  .padre_caja .caja {
    background-color: #c1c5d7;
    height: 130px;
    width: 900px;
    margin-top: 10px; }
  .padre_caja .caja_img {
    height: 130px;
    width: 130px;
    background-color: red;
    margin-top: 10px;
    margin-right: 70px; }
  .padre_caja .img_nosotros {
    height: 130px; }
  .padre_caja p {
    font-size: 20px;
    padding: 15px; }

.centrar_carrusel {
  object-fit: cover;
  object-position: center;
  height: 40vh;
  margin-left: auto;
  margin-right: auto; }

.contenedor_title_img {
  display: flex;
  justify-content: center;
  margin-top: 150px; }
  .contenedor_title_img .tamaño_letra {
    font-size: 25px; }
  .contenedor_title_img .name_img {
    width: 310px;
    height: 44px;
    background-color: #2fa7a7;
    border: solid 1px black;
    text-align: center; }

.b_s_1px {
  border: solid 1px black;
  margin-top: 10px;
  background-color: black; }

body {
  background-color: #d8e5ff; }

.gridd {
  margin-top: 150px; }
  .gridd .prod_img {
    height: 100%; }
  .gridd .marg_top15 {
    margin: 20px; }

@media screen and (max-width: 768px) {
  body {
    background-color: red; }
  .header {
    height: 60px; }
    .header .logo {
      font-size: 25px;
      padding: 0 20px;
      line-height: 60px; }
    .header .nav-menu {
      flex-direction: column;
      align-items: center;
      margin-right: 0;
      background-color: #5f6161;
      position: fixed;
      left: 0;
      top: 60px;
      width: 100%;
      height: calc(100% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s; }
    .header .nav-menu-item {
      line-height: 70px; }
    .header .nav-toggle {
      display: block; }
    .header .nav-menu_visible {
      left: 0; }
    .header .logo-img {
      width: 60px; } }

@media screen and (max-width: 768px) {
  #imagenes {
    width: 690px; } }

@media screen and (max-width: 320px) {
  .logo_box {
    width: 768px; } }

@media screen and (max-width: 320px) {
  #imagenes {
    width: auto;
    margin-top: 40px;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
  .colum_index {
    display: flex;
    flex-direction: column; }
  .box_img {
    display: block;
    margin: auto; }
  .parrafo_title {
    margin-top: 10px; }
  .title_fondo_img {
    margin-top: 25px; } }

@media screen and (max-width: 320px) {
  .formulario {
    width: auto; } }

@media screen and (max-width: 320px) {
  .logo_box {
    width: 300px; } }

@media screen and (max-width: 768px) {
  .padre_caja .caja_img {
    margin-left: 50px;
    margin-right: 26px;
    width: 188px; } }

@media screen and (max-width: 320px) {
  .padre_caja {
    display: flex;
    flex-direction: column;
    height: 500px; }
    .padre_caja .caja {
      width: 304px;
      height: auto;
      margin-left: 8px; }
    .padre_caja .caja_img {
      margin-left: 95px;
      width: 130px; } }

@media screen and (max-width: 320px) {
  .footer .icon {
    margin-left: 30px;
    float: right; } }
