body{
    background-color: rgb(218, 50, 218);
    display: block;
    margin: 8px;
    
}    
                                            /* Cabecera */

.cabecera_div {
display: flex;
justify-content: center;
background-color: #0000008c;

}

.header_nav {
display: flex;                                                       
}

.header_nav_galeria {
display: flex;
margin-top: 15px;
}


.header__item {
background-color: #403abd;
padding: 1rem;
margin: 1rem;
display: inline-flex;
border: 2px solid black;
align-items: center;
height: 6px;
}

.header__item_galeria {
height: 40px;
}

.header_list {
display: flex;
flex-flow: row nowrap;
justify-content: center;

}




li {
display: inline-block;
position:relative;
font-size: 20px;
margin-top: 3px;



}

a {
text-decoration: none;
color:white;
}




h2{
    text-align: center;
    margin-top: 50px;
}    



                                                /* Index */

.title_box{
    text-align: center;
    
}    

.title_fondo_img{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    border: solid 1px black;
    margin-top: 25px; 
    display: inline-block;
}    

#informacion {
    font-size: 20px;
}    

#imagenes{
    width: 1050px;
    height: 250px;
    border: 1px solid green;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}    

.box_img {
    width: 200px;
    height: 200px;
    float: left;
    padding: 5px;
}    

                                                    /* Producto*/

#caja_img {                                                
    height: 450px;
    width: 450px;
    background-color: black;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px red;
}                                          

.img_caja1 {
    border: 3px solid green;
}    


                                            /* contacto*/


.formulario {
text-align: center;    
margin-top: 5%;
border: solid 1px black;
background-color: rgb(187, 131, 240);
}

textarea {
resize: none;    
height: 130px;
width: 300px;
margin-left: auto;
margin-right: auto;
}

.formulario_letra {
font-size: 20px;    
margin-top: 10px;
margin-bottom: 10px;
display: flex;
flex-direction: column;


}

input {
width: 300px;    
margin-left: auto;
margin-right: auto
}



                                            /* proyecto */
.nameActivity {
    color: purple;
    font-size: larger;
}    

#name_title {
    border: solid 2px black;
    margin-top: 20px;
    background-color: antiquewhite;
    width: auto;
}    

.borde, .actividad1 {
    border: solid 1px black;
    margin-top: 10px;
    padding-left: 5px;
    background-color: antiquewhite;
}    


.actividad1 {
    color: orange;
}    

.actividadEnClase1 {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #0033ff;
}    


                                                    /* footer */

.footer {
    margin-top: 20px;
    text-align: center;
    text-decoration: dashed;

    
}

                                                    /* Galeria */
.centrar_carrusel {
    object-fit: cover;
    object-position: center;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    
}   

.contenedor_title_img {
display: flex;
justify-content: center;
margin-top: 20px;
}

.tamaño_letra {
    font-size: 25px;
}


.name_img {
    width: 310px;
    height: 44px;
    background-color: #2fa7a7;
    border: solid 1px black;
    text-align: center;
    
}

.b_s_1px {
    border: solid 1px black;
    margin-top: 10px;
    background-color: black;
}

               



                                                    /* Nosotros*/
 .padre_caja {
    background-color: aquamarine;
    height: 150px;
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    
 }                                                   

 .caja {
    background-color: #5879ff;
    height: 130px;
    width: 130px;
    margin-top: 10px;
 }

 





                                                       /* media queries 768*/
@media screen and (max-width: 768px) {
    #imagenes {
        width: 690px;
    }
                                                    
    .header__item {
        background-color: #403abd;
        padding: 5px;
        margin: 1px;
        display: inline-flex;
        border: 2px solid black;
        justify-content: center;
    }
 }
                                                        /* media queries 320*/

 @media screen and (max-width: 320px){
    
    .header__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: -40px;
    }
    .cabecera_div {
    display: flex;
    justify-content: center;
    }

    .header_nav {
        text-align: center;
    }


    .header__item {
        background-color: #403abd;
    margin: 5px;
    border: 2px solid black;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

    .header__item_galeria {
        background-color: #403abd;
    margin: 5px;
    border: 2px solid black;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    
    }

    .colum_index {
        display: flex;
        flex-direction: column; 
    }

    #imagenes {
        width: auto;
        margin-top: 10px;
        height: auto;
    }

    .box_img {
        display: block;
        margin: auto;

    }
    .parrafo_title {
        margin-top: 10px;
    }

    .title_fondo_img {
        margin-top: 25px;
    }
 }                                       
