@media screen and (max-width: 768px) {
    .padre_caja {
       
        .caja{
            
    }       .caja_img {
                margin-left: 50px;
                margin-right: 26px;
                width: 188px;
               

    }
                .img_nosotros {
                    
    }
    }
}