@media screen and (max-width: 320px) {
    .padre_caja{
        display: flex;
        flex-direction: column;
        height: 500px;
    
    .caja {
        width: 304px;
        height: auto;
 }
        .caja_img {
           margin-left: 77px;

        }
            p {
                
            }
}
}