
.cabecera_div {
    display: flex;
    justify-content: center;
    background-color: #0000008c;

        .header_nav {
            display: flex;
    }
            .header__list {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                
    }
                .header__item {
                    background-color: #b49bb5;
                    padding: 1rem;
                    margin: 1rem;
                    display: inline-flex;
                    border: 2px solid black;
                    align-items: center;
                    height: 6px;
    }
                    .header_nav_galeria {
                        display: flex;
                        margin-top: 15px;
    }
                        .header__item_galeria {
                            height: 40px;
    } 
                            li {
                                display: inline-block;
                                position:relative;
                                font-size: 20px;
                                margin-top: 3px;    
    }
                                a {
                                    text-decoration: none;
                                    color:black;
    }
                                    h2{
                                        text-align: center;
                                        margin-top: 50px;
    } 

}


    
    
    
    
    
       
    
    