#imagenes {
    width: 1050px;
    height: 250px;
    border: 1px solid green;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;

        .box_img {
            width: 200px;
            height: 200px;
            float: left;
            padding: 5px;
    }  
}