@media screen and (max-width: 768px) {
    #imagenes {
        width: auto;
        height: auto;

        .colum_index {
            display: flex;
            flex-direction: column; 
    }

            .box_img {
                display: block;
                margin: auto;
            }
    }
}