.contenedor_title_img {
    display: flex;
    justify-content: center;
    margin-top: 20px;


    .tamaño_letra {
        font-size: 25px;
    }


        .name_img {
            width: 310px;
            height: 44px;
            background-color: #2fa7a7;
            border: solid 1px black;
            text-align: center;

    }
}